run = "pip install -r requirements.txt && gunicorn -b 0.0.0.0:3000 main:app"
language = "python3"
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = "gunicorn -b 0.0.0.0:3000 main:app"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
